<div class="about-me">
    <div class="header">
        <p>--<span class="title">{{title}}</span>--</p>
    </div><br><br>
    <div class="row">
        <div class="profile-img col">
            <img src="{{dataService.personalData.about_me.profile}}" alt="no profile" class="profile shadow-lg">
        </div>
        <div class="about-me-info m-3 p-5 bg-light text-white col">
            <p class="about">{{dataService.personalData.about_me.about}}</p>
            <a href="https://drive.google.com/file/d/12auF0UaAojB6e9jLyYMevFJpKpwt-m5G/view?usp=sharing" target="_blank"><button type="button" class="btn btn-outline-primary">Resume</button></a>
        </div>
    </div>
</div>