<div class="wrapper">
    <div class="row">
        <div class="col">
            <div class="content">
                <p style="font-size:x-large;">Hello! my name is</p>
                <p class="name">{{dataService.personalData.personal_info.name}}..</p>
                <p class="info">And I'm a <span class="profession">{{dataService.personalData.personal_info.profession}}|</span></p><br>
                <a routerLink="/about-me">
                    <button class="btn btn-primary"
                    mat-raised-button
                    [matTooltipPosition]="position[0]"
                    [matTooltip]="toolTip.about_me"
                    >About me</button>
                </a>
            </div>
        </div>
        <div class="col">
            <div>
                <a routerLink="skill-set"><button 
                    mat-raised-button
                    class="btn btn-warning btn-lg skills" 
                    [matTooltipPosition]="position[1]"
                    [matTooltip]="toolTip.skills"
                    >Click to view skills</button></a>
            </div>
        </div>
    </div>
</div>