.profession{
    color: #3f51b5;
    font-weight: bold;
}
.name{
    font-size:51px;
}
.info{
    font-size:31px;
}
.wrapper{
    margin-top:12%;
}
p{
    margin-top:30px;
}
.skills{
    margin-left: 35%;
    margin-top:17%;
    border-radius:50px;
}