<div class="professional-experience">
      <!-- Awards -->
      <div class="header">
        <p>--<span class="title">{{awardsTitle}}</span>--</p>
      </div>

      <table mat-table [dataSource]="awardsSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date. </th>
          <td mat-cell class="date" *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="competition">
          <th mat-header-cell *matHeaderCellDef> Competition. </th>
          <td mat-cell class="competition" *matCellDef="let element"> {{element.competition }} </td>
        </ng-container>

        <ng-container matColumnDef="prize">
            <th mat-header-cell *matHeaderCellDef> Prize. </th>
            <td mat-cell class="prize" *matCellDef="let element"
            [matTooltipPosition]="position[1]"
            matTooltip="{{element.prize}}"> {{element.prize }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="awardsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: awardsColumns;"></tr>
      </table>

    <!-- Projects -->
    <div class="header">
        <p>--<span class="title">{{projectTitle}}</span>--</p>
    </div><br><br>

    <table mat-table [dataSource]="projectSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="topic">
          <th mat-header-cell *matHeaderCellDef> Topic. </th>
          <td mat-cell class="topic" *matCellDef="let element"> {{element.topic}} </td>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description. </th>
          <td mat-cell class="description" *matCellDef="let element"> {{element.description }} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="projectColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: projectColumns;"></tr>
      </table><br>

</div>