  <mat-toolbar color="primary">
    <span>Darshan's Portfolio</span>
    <span class="example-spacer"></span>
    <a class="tab" routerLink="/">
      <button class="btn btn-primary tabs"><i class="fa-solid fa-house"></i>&nbsp;Home</button>
    </a>
    <a class="tab" routerLink="/about-me">
      <button class="btn btn-primary tabs"><i class="fa-solid fa-user"></i>&nbsp;About me</button>
    </a>
    <a class="tab" routerLink="/professional-experience">
      <button class="btn btn-primary tabs"><i class="fa-solid fa-user-tie"></i>&nbsp;Professional Experience</button>
    </a>
    <a class="tab" routerLink="/projects">
      <button class="btn btn-primary tabs"><i class="fa-solid fa-file"></i>&nbsp;Projects & Awards</button>
    </a>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
